/* nova forma de importação tailwind 4.1 */
@import "tailwindcss";

@theme {
  --color-primary-200: #008000;
  --color-primary-100: #228B22;
  --color-secondary-200: #00b050;
  --color-secondary-100: #0b1a78;
}